---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-spire-upgrade

resources:
- netsvc.yaml
- client.yaml
- ../../../apps/nsc-kernel
- ../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
