---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-component-restart

resources:
- ns-component-restart.yaml
- netsvc.yaml
- client.yaml
- client-cp.yaml
- ../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
