---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-annotated-namespace

resources:
  - netsvc.yaml
  - namespace.yaml
  - ../../../apps/nse-kernel

patchesStrategicMerge:
  - patch-nse.yaml
