---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nsm-system

resources:
- nsm-system-namespace.yaml
- ../../../../apps/nsmgr
- ../../../../apps/forwarder-vpp
- ../../../../apps/registry-k8s
- ../../../../apps/nsmgr-proxy
- ../../../../apps/admission-webhook-k8s

patchesStrategicMerge:
- patch-forwarder.yaml
- patch-registry-k8s.yaml
- patch-nsmgr-proxy.yaml

patches:
 - target:
      version: v1
      kind: Service
      name: registry
   path: patch-registry-service.yaml
