---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-local-nsmgr-local-nse-memif

resources:
- ns-local-nsmgr-local-nse-memif.yaml
- ../base

patchesStrategicMerge:
- patch-nse.yaml
