---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nsm-system

bases:
- https://github.com/kubernetes-sigs/about-api/clusterproperty/config/crd?ref=f9b81063dfa88c032a47789c7cd3357ba0c17f7d
- ../../../../apps/cluster-info
- ../../../../apps/nsmgr
- ../../../../apps/forwarder-vpp
- ../../../../apps/registry-memory
- ../../../../apps/registry-proxy-dns
- ../../../../apps/nsmgr-proxy
- ../../../../apps/admission-webhook-k8s

resources:
  - "cluster-property.yaml"

patchesStrategicMerge:
- patch-nsmgr-proxy.yaml
- patch-registry-proxy-dns.yaml
- patch-registry-memory.yaml
