---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-kernel2ethernet2kernel-vfio2noop

bases:
- ../../../apps/nse-kernel
- ../../../apps/nsc-vfio
- ../../../apps/nse-vfio

resources:
- netsvc.yaml
- client.yaml

patchesStrategicMerge:
- patch-nse.yaml
