---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nsm-system

resources:
- nsm-system-namespace.yaml
- ../../../../apps/registry-k8s

patchesStrategicMerge:
- patch-registry-k8s.yaml
