---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-local-nsmgr-local-forwarder-memif

resources:
- ns-local-nsmgr-local-forwarder-memif.yaml
- netsvc.yaml
- ../../../apps/nsc-memif
- ../../../apps/nse-memif

patchesStrategicMerge:
- patch-nsc.yaml
- patch-nse.yaml
