---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-remote-nsmgr-remote-endpoint

resources:
- ../base
- ns-remote-nsmgr-remote-endpoint.yaml
- client.yaml

patchesStrategicMerge:
- patch-nse.yaml
