---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-remote-nsmgr-death

resources:
- ns-remote-nsmgr-death.yaml
- netsvc.yaml
- client.yaml
- ../../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
