---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: nsm-system

resources:
  - networkservice.yaml
  - ../../../../../apps/vl3-ipam

patchesStrategicMerge:
- patch-vl3-ipam.yaml
