---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: select-forwarder

bases:
- ../../../apps/nse-kernel

resources:
- client.yaml
- service.yaml
- forwarder.yaml

patchesStrategicMerge:
- nse-patch.yaml
