---
apiVersion: networkservicemesh.io/v1
kind: NetworkService
metadata:
  name: my-networkservice
  namespace: select-forwarder
spec:
  payload: ETHERNET
  matches:
    - routes:
        - destination_selector: {}
      metadata:
        labels:
          my_forwarder_capability: "true"
