---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-interdomain-kernel2ip2kernel

resources:
- ns-interdomain-kernel2ip2kernel.yaml
- ../../../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
