---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-kernel2kernel-vfio2noop

bases:
- ../../../apps/nsc-kernel
- ../../../apps/nse-kernel
- ../../../apps/nsc-vfio
- ../../../apps/nse-vfio

resources:
- netsvc.yaml

patchesStrategicMerge:
- patch-nsc.yaml
- patch-nse.yaml
