---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-scaled-registry

resources:
- ns-scaled-registry.yaml
- netsvc.yaml
- ../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
