---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-dataplane-interrupt

resources:
- ns-dataplane-interrupt.yaml
- netsvc.yaml
- client.yaml
- ../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
