---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-smartvf2smartvf

resources:
- ns-smartvf2smartvf.yaml
- netsvc.yaml
- ../../../apps/nsc-kernel
- ../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nsc.yaml
- patch-nse.yaml
