---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-floating-kernel2ethernet2kernel

resources:
- ns-floating-kernel2ethernet2kernel.yaml
- ../../../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
