---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-sriov-kernel2noop-vlantag

resources:
- ../namespace
- ../../../../apps/nse-kernel-ponger

patchesStrategicMerge:
  - patch-ponger.yaml
