---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-registry-local-endpoint

bases:
- ../../../apps/nsc-kernel
- ../../../apps/nse-kernel

resources:
- netsvc.yaml

patchesStrategicMerge:
- patch-nsc.yaml
