---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: proxy-service
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-service
spec:
  selector:
    pod_type: proxy
  ports:
    - protocol: TCP
      port: 9090

