---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-kernel2memif

resources:
- ns-kernel2memif.yaml
- client.yaml
- netsvc.yaml
- ../../../apps/nse-memif

patchesStrategicMerge:
- patch-nse.yaml
