---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-registry-restart

resources:
- ns-registry-restart.yaml
- netsvc.yaml
- client.yaml
- ../../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
