---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-sriov-kernel2noop-vlantag

resources:
- ../../../apps/nsc-kernel
- ../../../apps/nse-noop
- namespace
- netsvc.yaml

patchesStrategicMerge:
- patch-nsc.yaml
- patch-nse.yaml
