---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-memif2ethernet2kernel

bases:
- ../../../apps/nsc-memif
- ../../../apps/nse-kernel

resources:
- netsvc.yaml

patchesStrategicMerge:
- patch-nsc.yaml
- patch-nse.yaml
