---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-memif2ethernet2kernel

resources:
- ns-memif2ethernet2kernel.yaml
- netsvc.yaml
- ../../../apps/nsc-memif
- ../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nsc.yaml
- patch-nse.yaml
