---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-kernel2vlan-multins-2

resources:
  - second-client.yaml
  - third-client.yaml
  - ../../../../apps/nse-remote-vlan

nameSuffix: -bg

patchesStrategicMerge:
  - patch-nse.yaml
