---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: observability

resources:
  - namespace.yaml

bases:
  - ../../../apps/jaeger
  - ../../../apps/prometheus
  - ../../../apps/opentelemetry
