---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ns-nse-composition

resources:
- ns-nse-composition.yaml
- config-file.yaml
- passthrough-1.yaml
- passthrough-2.yaml
- passthrough-3.yaml
- nse-composition-ns.yaml
- client.yaml
- nse-firewall
- ../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml

configMapGenerator:
  - name: nginx-config
    files:
      - nginx.conf
