---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-vl3-dns

resources:
- nsc.yaml
- namespace.yaml
- netsvc.yaml
- ../../../apps/nse-vl3-vpp
- ../../../apps/vl3-ipam

patchesStrategicMerge:
- nse-patch.yaml
