---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-kernel2ip2kernel-ipv6

resources:
- ns-kernel2ip2kernel-ipv6.yaml
- client.yaml
- netsvc.yaml
- ../../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
