---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-registry-remote-nsmgr

resources:
- ns-registry-remote-nsmgr.yaml
- netsvc.yaml
- client.yaml
- ../../../apps/nse-kernel

patchesStrategicMerge:
- patch-nse.yaml
