---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-local-nsmgr-local-nse-memif

resources:
- netsvc.yaml
- ../../../../apps/nsc-memif
- ../../../../apps/nse-memif

patchesStrategicMerge:
- patch-nsc.yaml
