---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ns-vl3-scale-from-zero

resources:
- ns-vl3-scale-from-zero.yaml
- vl3-scale-from-zero.yaml
- client.yaml
- ../../../apps/vl3-ipam
- ../../../apps/nse-supplier-k8s

patchesStrategicMerge:
- supplier-patch.yaml

configMapGenerator:
  - name: supplier-pod-template-configmap
    files:
      - pod-template.yaml
